.App {
  text-align: center;
}

.Top-box {
  background-color: #3bd17a;
  width: 90%;
  height: 250px;
  border-radius: 12px;
  margin-left: 5%;
  margin-top: 25px;
  padding: 5px;
}
  .home-button{
    float: center;
    width: 100px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: antiquewhite;
  }

  .list-button{
    float: left;
    width: 100px;
    border-radius: 5px;
    background-color: fuchsia;
    margin-left: 5px;
    margin-top: 5px;
}

  .random-button{
    width: 100px;
    border-radius: 5px;
    background-color: rgb(12, 188, 194);
    margin-right: -1080px;
    margin-top: 5px;
}

.Console{
    width: 20%;
    margin-left: 40%;
    font-size: 50px;
    font-style: bold;
    text-align: center;
  }

.Table-title {
  text-align: center;
  height: 30px;
  float: center;
  width: 15%;
  margin-left: 42%;
  margin-top: 2.5%;
  color: rgb(0, 0, 0);
}

.Table-data {
  color: azure;
  text-align: left;
  background-color: rgb(102, 143, 231);
  float: center;
  margin-top: .25%;
  margin-left: 38%;
  width: 23%;
  border-spacing: 150px;
  border-collapse: separate;
  border-color: black;
}

th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

#left-column {
  color: white;
  width: 100%;
}

#middle-column {
  color: rgb(182, 231, 102);
}

#right-column {
  color: rgb(226, 128, 104);
}

#table-headers {
  background-color: teal;
}

#single-game {
  background-color: red;
  vertical-align: middle;
  text-align: center;
  float: left;
  width: 10%;
  height: 20%;
}

.random-button:hover {background-color: aliceblue;}

#multi-game {
  background-color: lightblue;
  vertical-align: middle;
  float: left;
  width: 10%;
  height: 20%;
}

#list-button:hover .dropdown {
  display: block;
}

.list-button:hover {background-color: #f3a0de;}

.drpdwn {
  position: relative;
  display: block;
}

.dropdown {
  display: none;
  position:absolute;
  background-color: lightblue;
  min-width: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}